backend/.venv

frontend_v2/.next
frontend_v2/node_modules
frontend_v2/package-lock.json
frontend_v2/yarn.lock
frontend_v2/pnpm-lock.yaml
frontend_v2/bun.lockb

backend/__pycache__
backend/app/__pycache__
backend/app/config/__pycache__
backend/app/controllers/__pycache__
backend/app/models/__pycache__
backend/app/schemas/__pycache__
backend/app/services/__pycache__

backend/*.pyc
backend/app/*.pyc
backend/app/config/*.pyc
backend/app/controllers/*.pyc
backend/app/models/*.pyc
backend/app/schemas/*.pyc
backend/app/services/*.pyc
backend/app/migrations/*
backend/app/repositories/__pycache__
backend/app/repositories/base.pyc
backend/app/repositories/events.pyc
backend/app/repositories/participants.pyc
backend/app/repositories/reviews.pyc
backend/app/repositories/users.pyc
backend/app/schemas/__pycache__
backend/app/schemas/base.pyc
backend/app/schemas/events.pyc
backend/app/schemas/participants.pyc
backend/app/schemas/reviews.pyc
backend/app/schemas/users.pyc
backend/app/schemas/base.pyc
backend/app/schemas/events.pyc
backend/app/schemas/participants.pyc
backend/app/schemas/reviews.pyc
backend/app/schemas/users.pyc
backend/app/routers/__pycache__
backend/app/routers/events.pyc
backend/app/routers/participants.pyc
backend/app/routers/reviews.pyc
backend/app/routers/users.pyc
backend/app/utils/__pycache__
backend/app/utils/auth.pyc
backend/app/utils/email.pyc
backend/app/utils/image.pyc
backend/app/utils/pagination.pyc
backend/app/utils/security.pyc
backend/app/utils/utils.pyc







.idea
.vscode
